@media (max-width: 767px) {
}
@media (min-width: 768px) {
}
@media (min-width: 1025px) {
}
@media (min-width: 1201px) {
}
@media (min-width: 1367px) {
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
}

.section-content {
	&__content {
		&--left {

		}
		&--right {
		}
	}
	&__image {
		min-height: 250px!important;
		&--left {
		}
		&--right {
		}
	}
	&--shifted {
		.section-content__content {
			&--left {
			}
			&--right {
			}
		}
		.section-content__image {
			@media(min-width:768px) {
				width: calc(50% - 60px)!important;
			}
			@media(min-width:1025px) {
				width: calc(50% - 120px)!important;
			}
			&--left {
				@media(min-width:768px) {
					// margin-right: 60px!important;
					margin-inline-end: 60px!important;
				}
				@media(min-width:1025px) {
					// margin-right: 120px!important;
					margin-inline-end: 120px!important;
				}
			}
			&--right {
				@media(min-width:768px) {
					// margin-left: 60px!important;
					margin-inline-start: 60px!important;
				}
				@media(min-width:1025px) {
					// margin-left: 120px!important;
					margin-inline-start: 120px!important;
				}
			}
		}
	}

}

.grecaptcha-badge {
	z-index: 1;
}
